* {
    background-color: white;
    font-family: sans-serif;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 25px 0px;
    height: 40px;
    /* background-color: orange; */
    align-items: center;
}

#logo-side {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    width: 15%;
    height: 100%;
    font-size: 25px;
    font-weight: 800;
}

#btn-side {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px ;
    width: 75%;
    height: 100%;
    gap: 30px;
    font-size: 20px;
}
#btn-side a {
    color: black;
    padding: 20px;
}
#btn-side a:hover{
    color: orangered;
}

#welcome-text {
    width: 50%;
    padding-right: 30px;
}
#welcome-text h1{
    font-size: 70px;
}
#welcome-text p{
    font-size: 18px;
}
#tray-img {
    width: 50%;
    padding: 40px;
}
#services {
    text-align: center;
    justify-content: center;
}
#services h1 {
    font-weight: 800;
}
#services p {
    font-size: 18px;
    padding-bottom: 20px;
}
#services h{
    color: orangered;
    font-size: 20px;
}
#card {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
}
.card {
    width: 275px;
    border: 2px solid black;
    padding: 40px 10px 10px 10px;
}

#fresh-fruit h1 {
    text-align: center;
    font-weight: 800;
}
#fresh-fruit p {
    text-align: left;
    font-size: 18px;
    padding-bottom: 20px;
}

.text-img-slides {
    padding: 30px 0px;
    padding-bottom: 50px;
    display: flex;
    height: 250px;
}
.text-side {
    width: 70%;
    padding-left: 30px;
    padding-right: 40px;
}
.text-side h {
    font-size: 30px;
}

.image-side {
    width: 30%;
    padding-left: 40px;
    align-items: end;
}

#testimonial{
    text-align: center;
    padding-bottom: 100px;
}
#testimonial h1{
    font-weight: 800;
}
#testimonial h{
    font-size: 25px;
}
#testimonial p{
    font-size: 18px;
    padding-bottom: 20px;
}

#contact-us {
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 70px;
}
#get-data-side{
    padding-left: 40px;
    width: 70%;
}
#get-data-side h1 {
    font-weight: 800;
}
#get-data-side input {
    width: 70%;
    height: 20px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px 0px;
}
#orange-dish {
    width: 30%;
}
#orange-dish img{
    float: right;
    width: 60%; 
    height: 100%;
    padding-top: 30px;
}

#footer {
    width: 100%;
    display: flex;
    margin: 50px 0px;
    /* padding-left: 40px; */
}
#footer h {
    font-size: 25px;
}
#footer p {
    font-size: 18px;
}
.footer-data{
    width: 25%;
    padding: 0px 120px 0px 0px;
    /* border: 2px solid black; */
}
.footer-data input{
    width: 100%;
    height: 30px;
    font-size: 18px;
}
